<template name="host">
    <div class="container">
        <h1>Hosts</h1>
        <div class="widget-header">
            <h3>Host list</h3>
        </div>
        <div class="widget-content">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>IP</th>
                        <th>CPU</th>
                        <th>RAM</th>
                        <th>Status</th>
                        <th>Events</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each hosts}}
                        {{this.id}}
                        {{#each this.pings}}
                        +
                            <tr>
                                <td>{{this.localhostname}}</td>
                                <td>{{this.ip}}</td>
                                <td>
                                    {{#each this.pings}}
                                        {{ this.loadavg.[1] }}
                                    {{/each}}
                                </td>
                                <td>
                                    <ul>
                                        <li>Uptime {{secondsToString this.uptime}}</li>
                                        <li>Memory {{ bytesToSize this.mem }}</li>
                                    </ul>
                                </td>
                                <td>All systems are go!</td>
                                <td>Event%</td>
                            </tr>
                        {{/each}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#each pings}}
        *
        {{/each}}
    </div>
</template>
