<template name="host">
    <div class="container">
        <h1>Hosts</h1>
        <div class="widget-header">
            <h3>Host list</h3>
        </div>
        <div class="widget-content">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Host</th>
                        <th>CPU</th>
                        <th>Total Memory</th>
                        <th>Memory - Percent used</th>
                        <th>Memory used</th>
                        <th>Uptime</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each hosts}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.lastPing.servername}}</td>
                            <td>{{this.lastPing.cpu}}</td>
                            <td>{{killoBytesToSize this.lastPing.mem}}</td>
                            <td>{{this.lastPing.memPercentUsed}} %</td>
                            <td>{{killoBytesToSize this.lastPing.memKilobyteUsed}}</td>
                            <td>{{secondsToString this.lastPing.uptime}}</td>
                            <td>{{this.lastPing.timestamp}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
